.Wrapper {
  position: relative;
  height: 100%;
  // margin-bottom: 30px;
  transition: ease-in-out 0.3s;

  .InnerWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
    transition: ease-in-out 0.3s;

    &:hover {
      box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.2);
    }
  }

  article{
    height: 100%;
  }

  .Inner {
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  .Image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;

    color: #3d6af1;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5em;
  }

  .Content {
    padding: 30px 35px 0 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    p {
      margin-bottom: 1rem;
      font-size: 15px;
    }
  }

  .EntryFooter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 16px;

    border-top-color: rgba(61, 68, 89, 0.1);
    padding: 10px 10px;
    color: rgba(61, 68, 89, 0.5);
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid #eaeaea;

    .Date {
      &:before {
        content: "•";
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  .Wrapper {
    height: unset;
    margin-bottom: 0px;
  }
}
